<style>
    body {
        background-color: azure;
    }
</style>
<nav class="navbar navbar-light" style="background-color:#808080; ">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#"><font color="Aqua"><b>UBER</b> </font><font color="black">EATS</font></a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="#!OrderData" class="text-center text-danger"><font color="Red"></font>View Orders</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#!home" class="text-right text-danger"><span class="glyphicon glyphicon-log-out"></span><font color="Aqua">LogOut</font></a></li>
        </ul>
    </div>
</nav>
