<style>
    body {
        background-color: azure;
    }

</style>
<nav class="navbar navbar-light" style="background-color:#808080; ">
    <div class="navbar-header">
        <a class="navbar-brand" href="#"><font color="Aqua"><b>UBER</b> </font><font color="black">EATS</font></a>
    </div>
</nav>
<nav class="text-center">
    <h1><font color="solid grey">View Products</font></h1>
</nav>
<div ng-controller="ProductDataController" ng-model="GetProducts">
    <table class="table table-hover general-table" cellspacing="40" align="center" style="width:80%">
        <thead class="table-bordered">
            <tr>
                <th>Product Picture</th>
                <th>Restaurant Name</th>
                <th>Product Name</th>
                <th>Product Price</th>

            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="prod in prodData | filter : GetProducts">
                <td><img style="width:100px; height:100px" ng-src="{{'data:image/png;base64,'+prod.prod_pic}}" class="img-rounded" /></td>
                <td>{{prod.rest_name}}</td>
                <td>{{prod.prod_name}}</td>
                <td>{{prod.prod_price | currency : "R"}}</td>
            </tr>
        </tbody>
    </table>

</div>
